# Ignora todo
*

# Pero no ignores estos archivos y carpetas
!.gitignore
!**/*.java
!**/*.xml
!**/*.gradle
!**/AndroidManifest.xml
!**/src/main/java/
!**/src/main/res/layout/
!**/src/main/res/values/
